<!-- {% macro displaySources_list(sources_list) %} -->

        <!-- {% for sources in sources_list %}
        <li>{{sources.name}}</li> -->
    <!-- {% endfor %}
{% endmacro %} --> 
{% macro displaySources(reads) %} 
{% for read in reads %}
<div class="col-md-3 single-source">
    <div class="row">
        <div class="col-md-4 source-name">
            <a href>{{read.name}}</a>
        </div>
        <div class="col-md-7 source-details">
            <p> {{read.description|truncate(150)}}
                <br>
                <a href="/articles/{{read.id}}">See articles</a>
            
            </p>            
        </div>
    </div>
</div>
{% endfor %} 
{% endmacro %}

<!-- {% macro displayArticlesList(articles_list) %}
{% for article in articles_list %}
{%if article.urlToImage%}
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-bottom: 10px;">
    <img class="img-responsive" src="{{article.urlToImage}}" alt="image">
    <h4>{{article.title}}</h4>
    <p>{{article.description}}</p>
    <p>Created: {{article.publishedAt}}</p>
    <a href="{{article.url}}" class="btn btn-success">Full Story</a>
</div>
{%endif%}
{% endfor %}
{% endmacro %}
 -->